title: Your Site Title
email: your-email@example.com
description: >- 
  Write an awesome description for your new site here. You can edit this line in _config.yml.
baseurl: "/S-matic" # the subpath of your site
url: "https://garib2.github.io" # the base hostname & protocol for your site

markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
  mathjax:
    path: 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'
  auto_ids: true
  toc_levels: 1..6

remote_theme: "pages-themes/minimal@v0.2.0"
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-toc

include:
  - _pages
  - search.json

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
