body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header .site-title {
  font-size: 2.5em; /* 원하는 글자 크기로 변경 */
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 3 em;
  text-align: center;
}

.content-wrapper {
  display: flex;
  margin: 20px;
}

aside {
  width: 250px;
  margin-right: 20px;
}

main {
  flex-grow: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#toc {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#toc h2 {
  margin-top: 0;
}

#toc ul {
  list-style: none;
  padding-left: 0;
}

#toc ul li {
  margin: 10px 0;
}

#toc ul li a {
  text-decoration: none;
  color: #007bff;
}

#toc ul li a:hover {
  text-decoration: underline;
}
