.content-wrapper {
  display: flex;
}

aside {
  width: 200px;
  margin-right: 20px;
}

main {
  flex-grow: 1;
}

#toc {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

#toc h2 {
  margin-top: 0;
}

#toc ul {
  list-style: none;
  padding-left: 0;
}

#toc ul li {
  margin: 10px 0;
}

#toc ul li a {
  text-decoration: none;
  color: #333;
}

#toc ul li a:hover {
  text-decoration: underline;
}
