<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ '/S-matic/assets/css/main.css' | relative_url }}">
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  {% include header.html %}
  <div class="content-wrapper">
    <aside class="left-sidebar">
      {% include toc.html %}
    </aside>
    <main>
      <h1 class="page-title">{{ page.title }}</h1>
      {{ content }}
      {% include search.html %}
    </main>
    <aside class="right-sidebar">
      {% include ads.html %}
    </aside>
  </div>
  {% include footer.html %}
</body>
</html>
